<?xml version="1.0" encoding="UTF-8"?>
<!--
  Context menu integration for Smart Player
  Adds "Play with Smart Player" option when right-clicking audio files
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ContextMenuRegistration" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        
        <!-- MP3 Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.mp3\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.mp3\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- WAV Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.wav\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.wav\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- FLAC Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.flac\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.flac\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- OGG Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.ogg\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.ogg\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- M4A Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.m4a\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.m4a\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- AAC Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.aac\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.aac\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- WMA Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.wma\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.wma\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
        <!-- OPUS Files -->
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.opus\shell\SmartPlayer" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="נגן ב-Smart Player" />
          <RegistryValue Type="string" Name="Icon" Value="[INSTALLDIR]Smart Player.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.opus\shell\SmartPlayer\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLDIR]Smart Player.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ContextMenuComponents">
      <ComponentRef Id="ContextMenuRegistration" />
    </ComponentGroup>
  </Fragment>
</Wix>
